/* Login.css */

.login-page {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin-top: -4.5rem;
    box-sizing: border-box;
}

.login-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.logo {
    width: 120px;
    margin-bottom: 25px;
}

h1 {
    color: #00338d; /* KPMG dark blue */
    margin-bottom: 25px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #333333;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #00338d; /* KPMG dark blue */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #005eb8; /* KPMG blue */
}

.login-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.error {
    color: #d9534f; /* Bootstrap red */
    margin-bottom: 20px;
    font-size: 14px;
    text-align: left;
}
